#anne:Leo Lausemaus, musicbox/leo01.mp3, musicbox/leo02.mp3, musicbox/leo03.mp3, musicbox/leo04.mp3, musicbox/leo05.mp3, musicbox/leo06.mp3 
#conny:Der kleine Koenig, musicbox/koenig01.mp3, musicbox/koenig02.mp3, musicbox/koenig03.mp3, musicbox/koenig04.mp3
#gespenst:Das kleine Gespenst, musicbox/gespenst01.mp3, musicbox/gespenst02.mp3, musicbox/gespenst03.mp3, musicbox/gespenst04.mp3, musicbox/gespenst05.mp3, musicbox/gespenst06.mp3, musicbox/gespenst07.mp3, musicbox/gespenst08.mp3
#kiga:Kindergartengeschichten, musicbox/kiga01.mp3, musicbox/kiga02.mp3, musicbox/kiga03.mp3, musicbox/kiga04.mp3, musicbox/kiga05.mp3, musicbox/kiga06.mp3, musicbox/kiga07.mp3, musicbox/kiga08.mp3, musicbox/kiga09.mp3, musicbox/kiga10.mp3, musicbox/kiga11.mp3, musicbox/kiga12.mp3, musicbox/kiga13.mp3, musicbox/kiga14.mp3, musicbox/kiga15.mp3, musicbox/kiga16.mp3, musicbox/kiga17.mp3, musicbox/kiga18.mp3, musicbox/kiga19.mp3, musicbox/kiga20.mp3, musicbox/kiga21.mp3, musicbox/kiga22.mp3, musicbox/kiga23.mp3, musicbox/kiga24.mp3, musicbox/kiga25.mp3, musicbox/kiga26.mp3, musicbox/kiga27.mp3, musicbox/kiga28.mp3, musicbox/kiga29.mp3
#koenig:Conny, musicbox/conny01.mp3, musicbox/conny02.mp3, musicbox/conny03.mp3, musicbox/conny04.mp3, musicbox/conny05.mp3, musicbox/conny06.mp3, musicbox/conny07.mp3, musicbox/conny08.mp3 
#leo:Anne Kaffeekanne, musicbox/anne01.mp3, musicbox/anne02.mp3, musicbox/anne03.mp3, musicbox/anne04.mp3, musicbox/anne05.mp3, musicbox/anne06.mp3, musicbox/anne07.mp3, musicbox/anne08.mp3, musicbox/anne09.mp3, musicbox/anne10.mp3, musicbox/anne11.mp3, musicbox/anne12.mp3 
#pippi:Pippi Langstrumpf, musicbox/pippi01.mp3, musicbox/pippi02.mp3, musicbox/pippi03.mp3, musicbox/pippi04.mp3, musicbox/pippi05.mp3, musicbox/pippi06.mp3, musicbox/pippi07.mp3, musicbox/pippi08.mp3, musicbox/pippi09.mp3, musicbox/pippi10.mp3, musicbox/pippi11.mp3, musicbox/pippi12.mp3, musicbox/pippi13.mp3, musicbox/pippi14.mp3, musicbox/pippi15.mp3
lieblingslieder:Lieblingslieder, musicbox/fruehling.mp3, musicbox/insel_bergen.mp3, musicbox/gemuetlichkeit.mp3, musicbox/flowers.mp3
pauli:Pauli, musicbox/pauli01.mp3, musicbox/pauli02.mp3, musicbox/pauli03.mp3, musicbox/pauli04.mp3, musicbox/pauli05.mp3
peppa:Peppa Wutz, musicbox/peppa01.mp3, musicbox/peppa02.mp3, musicbox/peppa03.mp3, musicbox/peppa04.mp3, musicbox/peppa05.mp3, musicbox/peppa06.mp3, musicbox/peppa07.mp3, musicbox/peppa08.mp3, musicbox/peppa09.mp3, musicbox/peppa10.mp3
bullerbue:Bullerbue, musicbox/bullerbue01.mp3, musicbox/bullerbue02.mp3, musicbox/bullerbue03.mp3
lisbeth:Hexe Lisbeth, musicbox/lisbeth01.mp3, musicbox/lisbeth02.mp3, musicbox/lisbeth03.mp3, musicbox/lisbeth04.mp3, musicbox/lisbeth05.mp3